<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
        <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
        <div class="main">
    {{>header}}
    <p>This page is meant to help you, but maybe you are here because I am out of API requests, and if I am all out sorry.</p>
  </div>    
    {{>footer}}
  </body>
</html>